<div class="container-general">
    <mat-card>

        <!-- Enecabezado de tarjeta -->
        <mat-card-header>
            <div style="text-align: center;">
                <mat-card-title> LISTADO DE USUARIOS </mat-card-title>
                <mat-card-subtitle> Total de elementos: {{ totalItems }} </mat-card-subtitle>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu_usuario">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu_usuario="matMenu">
                <button *appPermisos="permisosTotales" mat-menu-item (click)="openModal()">
                    <mat-icon> add </mat-icon>
                    <span> Nuevo usuario </span>
                </button>
            </mat-menu>
        </mat-card-header>

        <!-- Contenido de tarjeta -->
        <mat-card-content class="container-tabla">

            <div style="display: flex; align-items: center; justify-content: center;">
                <mat-form-field style="width: 400px;">
                    <mat-label>Buscar</mat-label>
                    <input matInput [(ngModel)]="filtro.parametro" (keyup)="filtradoTabla()" placeholder="Ej. Equinoccio Technology" #input>
                </mat-form-field>
                
                <mat-form-field style="width: 400px; margin-left: 10px;">
                    <mat-label> Estado </mat-label>
                    <mat-select (selectionChange)="filtradoTabla()" [(ngModel)]="filtro.activo">
                      <mat-option value="">Todos</mat-option>
                      <mat-option value="Alta">Activo</mat-option>
                      <mat-option value="Baja">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="material-container mat-elevation-z8">

                <div class="material-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="material-rate-limit-reached" *ngIf="isRateLimitReached">
                        GitHub's API rate limit has been reached. It will be reset in one minute.
                    </div>
                </div>

                <div class="material-table-container">

                    <table mat-table [dataSource]="dataSource" class="example-table"
                        (matSortChange)="ordenarTabla($event)" matSort>

                        <!-- Columna - Opciones -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef> Opciones </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu_fila"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu_fila="matMenu">
                                    <button *appPermisos="permisosTotales" (click)="openModal('Editar', row)" mat-menu-item>
                                        <mat-icon> edit </mat-icon>
                                        <span> Editar </span>
                                    </button>
                                    <button *appPermisos="['USUARIOS_ALL']" (click)="openModalPassword(row)" mat-menu-item>
                                        <mat-icon> lock </mat-icon>
                                        <span> Cambiar contraseña </span>
                                    </button>
                                    <button *appPermisos="['USUARIOS_ALL']" [disabled]="row.role === 'ADMIN_ROLE'" (click)="openModalPermisos(row)" mat-menu-item>
                                        <mat-icon> folder_supervised </mat-icon>
                                        <span> Actualizar permisos </span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <!-- Columna - Apellido -->
                        <ng-container matColumnDef="apellido">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido y Nombre </th>
                            <td mat-cell *matCellDef="let row">{{row.apellido + ' ' + row.nombre}}</td>
                        </ng-container>

                        <!-- Columna - Usuario -->
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                            <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
                        </ng-container>

                        <!-- Columna - Rol -->
                        <ng-container matColumnDef="rol">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                            <td mat-cell *matCellDef="let row">{{row.role | rol}}</td>
                        </ng-container>

                        <!-- Columna - Fecha de creacion -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creación</th>
                            <td mat-cell *matCellDef="let row">{{row.createdAt | fecha}}</td>
                        </ng-container>

                        <!-- Columna - Estado -->
                        <ng-container matColumnDef="activo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row">{{row.activo ? 'Activo' : 'Inactivo' }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="filter-texto" *matNoDataRow>
                            <td>No se encontraron resultados que contenga <b> "{{input.value}}" </b> </td>
                        </tr>

                    </table>
                </div>

                <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
            </div>

        </mat-card-content>

    </mat-card>
</div>