<mat-card>

  <mat-card-header class="card-principal-header">
    <div style="text-align: center;">
      <mat-card-title> DETALLES DE OBRA </mat-card-title>
      <mat-card-subtitle> MADERA </mat-card-subtitle>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu_obra">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu_obra="matMenu">
      <div *appPermisos="permisosTotales">
        <button *ngIf="obra.estado !== 'Finalizada'" (click)="paseAdelante()" mat-menu-item>
          <mat-icon> east </mat-icon>
          <span> Pase adelante </span>
        </button>
        <button *ngIf="obra.estado !== 'Pendiente'" (click)="openModalPases()" mat-menu-item>
          <mat-icon> west </mat-icon>
          <span> Pase atras </span>
        </button>
        <button (click)="eliminarObra()" mat-menu-item>
          <mat-icon> delete </mat-icon>
          <span> Eliminar obra </span>
        </button>
      </div>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>

    <!-- Progreso de obra -->
    <div class="container-etapas">
      <div [ngClass]="{'etapa-seleccionada':obra?.estado === 'Pendiente'}" class="items-etapas">
        <mat-icon [ngStyle]="{'color: white':obra?.estado === 'Pendiente'}"> pending_actions </mat-icon>
        <span style="margin-top: 5px; margin-left: 5px;"> Pendiente </span>
      </div>
      <div [ngClass]="{'etapa-seleccionada':obra?.estado === 'Produccion'}" class="items-etapas-secundarios">
        <mat-icon> handyman </mat-icon>
        <span style="margin-top: 5px; margin-left: 5px;"> Producción </span>
      </div>
      <div [ngClass]="{'etapa-seleccionada':obra?.estado === 'Colocacion'}" class="items-etapas-secundarios">
        <mat-icon> domain_disabled </mat-icon>
        <span style="margin-top: 5px; margin-left: 5px;"> Colocación </span>
      </div>
      <div [ngClass]="{'etapa-seleccionada':obra?.estado === 'Finalizada'}" class="items-etapas-secundarios">
        <mat-icon> task </mat-icon>
        <span style="margin-top: 5px; margin-left: 5px;"> Finalizada </span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-tab-group (selectedTabChange)="opcionTab($event)">

      <mat-tab>
        <ng-template mat-tab-label>
          Detalles de obra
        </ng-template>
        <div class="container-detalles">
          <div class="subtitulo-detalles">
            <h2 style="margin-top: 20px;"> DETALLES DE OBRA </h2>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu_muebles">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu_muebles="matMenu">
                <button *appPermisos="permisosTotales" (click)="openModalEditarObra()" mat-menu-item>
                  <mat-icon> edit </mat-icon>
                  <span> Editar detalles </span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div>

            <mat-list>

              <mat-list-item>
                <mat-icon matListItemIcon> code </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Código de obra: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.codigo | codigoMadera }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> calendar_month </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Fecha de inicio: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.fecha_inicio | fecha }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> calendar_month </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Fecha de colocacíon: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.fecha_finalizacion_estimada | fecha }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> person </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Cliente: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.cliente?.descripcion }} (Tel. {{
                    this.obra?.cliente?.telefono }}) </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> location_on </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Dirección: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.direccion === '' ? 'Sin especificar' :
                    this.obra.direccion }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> description </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Observaciones: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.descripcion === '' ? 'Sin especificar' :
                    this.obra.descripcion }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> local_atm </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Precio total: </span>
                  <span style="margin-left: 5px;"> ${{ this.obra?.precio | moneda }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item *ngIf="this.obra.estado === 'Finalizada'">
                <mat-icon matListItemIcon> task </mat-icon>
                <div matListItemTitle>
                  <span style="font-weight: 500; margin-left: 5px;"> Fecha finalización: </span>
                  <span style="margin-left: 5px;"> {{ this.obra?.fecha_finalizacion | fecha }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>

            </mat-list>

          </div>

          <div class="subtitulo-detalles">
            <h2 style="margin-top: 20px;"> LISTADO DE MUEBLES </h2>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu_usuario">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu_usuario="matMenu">
                <button *appPermisos="permisosTotales" (click)="openModalMueble('Crear')" mat-menu-item>
                  <mat-icon> add </mat-icon>
                  <span> Nuevo mueble </span>
                </button>
              </mat-menu>
            </div>
          </div>

          <div *ngIf="muebles.length === 0">
            <p style="color: gray;"> No se encontraron muebles asociados a esta obra </p>
            <button (click)="openModalMueble('Crear')" mat-raised-button color="primary">
              Agregar mueble
            </button>
          </div>

          <div (click)="openModalMueble('Editar', mueble)" style="border-left: 10px solid #673AB7"
            *ngFor="let mueble of muebles" class="container-muebles">
            <p><span style="font-weight: 500;"> Codigo de mueble: </span> <span> MA{{ mueble.id }} </span></p>
            <p><span style="font-weight: 500;"> Tipos de mueble: </span> <span> {{ mueble.tipo_mueble.descripcion }} </span></p>
            <p><span style="font-weight: 500;"> Precio: </span> <span> ${{ mueble.precio | moneda }} </span></p>
            <p> <span class="pastilla-placas" *ngFor="let placa of mueble.muebles_placas"> {{ placa.tipo_placa_madera.codigo }} </span> </p>
          </div>

          <!-- <div>

            <div *ngIf="muebles.length !== 0">

              <mat-form-field style="width: 100%;">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="filtradoTablaMuebles($event)" placeholder="Ej. Cocina" #input>
              </mat-form-field>

              <div class="material-container">

                <div class="material-loading-shade" *ngIf="isLoadingResultsMuebles || isRateLimitReachedMuebles">
                  <mat-spinner *ngIf="isLoadingResultsMuebles"></mat-spinner>
                  <div class="material-rate-limit-reached" *ngIf="isRateLimitReachedMuebles">
                    GitHub's API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="material-table-container">

                  <table mat-table [dataSource]="dataSourceMuebles" class="example-table"
                    (matSortChange)="ordenarTablaMuebles($event)" matSort>

                    <ng-container matColumnDef="opciones">
                      <th mat-header-cell *matHeaderCellDef> Opciones </th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu_fila">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu_fila="matMenu">
                          <button (click)="openModalMueble('Editar', row)" mat-menu-item>
                            <mat-icon> edit </mat-icon>
                            <span> Editar </span>
                          </button>
                          <button (click)="eliminarMueble(row)" mat-menu-item>
                            <mat-icon> delete </mat-icon>
                            <span> Eliminar </span>
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por codigo">
                        Código</th>
                      <td mat-cell *matCellDef="let row">M{{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por precio">
                        Precio</th>
                      <td mat-cell *matCellDef="let row">${{ row.precio | moneda }}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipo_mueble">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por tipo">
                        Tipo de mueble</th>
                      <td mat-cell *matCellDef="let row">{{ row.tipo_mueble.descripcion}}</td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por fecha">
                        Fecha de creación</th>
                      <td mat-cell *matCellDef="let row">{{row.createdAt | fecha}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMuebles"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMuebles;"></tr>

                    <tr class="filter-texto" *matNoDataRow>
                      <td>No se encontraron resultados que contenga <b> "{{input.value}}" </b> </td>
                    </tr>

                  </table>
                </div>

                <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
              </div>

            </div>

          </div> -->

        </div>
      </mat-tab>

      <mat-tab>

        <ng-template mat-tab-label>
          Ordenes de matenimiento
        </ng-template>

        <div class="container-detalles">

          <div class="subtitulo-detalles">

            <h2 style="margin-top: 20px;"> ORDENES DE MANTENIMIENTO </h2>

            <div style="display: flex;">
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu_ordenes">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu_ordenes="matMenu">
                  <button *appPermisos="permisosTotales" (click)="openModalOrdenMantenimiento()" mat-menu-item>
                    <mat-icon> add </mat-icon>
                    <span> Nueva orden </span>
                  </button>
                </mat-menu>
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu_ordenar_ordenes">
                  <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #menu_ordenar_ordenes="matMenu">
                  <button *ngIf="ordenarOrdenesMantenimiento.direccion === 1"
                    (click)="ordenarOrdenesMantenimientoFnc(-1)" mat-menu-item>
                    <mat-icon> arrow_upward_alt </mat-icon>
                    <span> Ascendente </span>
                  </button>
                  <button *ngIf="ordenarOrdenesMantenimiento.direccion === -1"
                    (click)="ordenarOrdenesMantenimientoFnc(1)" mat-menu-item>
                    <mat-icon> arrow_downward_alt </mat-icon>
                    <span> Descendente </span>
                  </button>
                </mat-menu>
              </div>
            </div>

          </div>

          <div *ngIf="ordenesMantenimiento.length === 0">
            <p style="color: gray; font-size: 14px;"> No se encontraron ordenes asociadas a esta obra </p>
            <button (click)="openModalOrdenMantenimiento()" mat-raised-button color="primary">
              Agregar orden
            </button>
          </div>

          <div *ngIf="ordenesMantenimiento.length > 0">
            <div [ngClass]="{'container-ordenes-alert': orden.observaciones === '' || !orden.precio}"
              (click)="openModalOrdenMantenimiento('Editar', orden)" style="border-left: 10px solid #673AB7"
              class="container-ordenes" *ngFor="let orden of ordenesMantenimiento">
              <p> <span style="font-weight: 500;"> Fecha: </span> <span> {{ orden.fecha | fecha }} </span> </p>
              <p> <span style="font-weight: 500;"> Nro de orden: </span> <span> {{ orden.id }} </span> </p>
              <p> <span style="font-weight: 500;"> Precio: </span> <span> {{ orden.precio ? '$' + (orden.precio |
                  moneda) : 'Sin especificar' }} </span> </p>
              <p> <span style="font-weight: 500;"> Observaciones: </span> <span> {{ orden.observaciones === '' ? 'Sin
                  especificar' : orden.observaciones }} </span> </p>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Historial de pases
        </ng-template>
        <div class="container-detalles">
          <div class="subtitulo-detalles">
            <h2 style="margin-top: 20px;"> HISTORIAL DE PASES </h2>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu_ordenar_pases">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #menu_ordenar_pases="matMenu">
                <button *ngIf="ordenarHistorialPases.direccion === 1" (click)="ordenarHistorialPasesFnc(-1)"
                  mat-menu-item>
                  <mat-icon> arrow_upward_alt </mat-icon>
                  <span> Ascendente </span>
                </button>
                <button *ngIf="ordenarHistorialPases.direccion === -1" (click)="ordenarHistorialPasesFnc(1)"
                  mat-menu-item>
                  <mat-icon> arrow_downward_alt </mat-icon>
                  <span> Descendente </span>
                </button>
              </mat-menu>
            </div>
          </div>

          <div *ngIf="pases.length === 0">
            <p style="color: gray; font-size: 14px;"> No se encontraron pases asociados a esta obra </p>
          </div>

          <div *ngIf="pases.length > 0">
            <div [ngClass]="{'paseAdelante':pase.tipo === 'Adelante', 'paseAtras':pase.tipo === 'Atras'}"
              *ngFor="let pase of pases" class="container-pases">
              <p> <span style="font-weight: 500;"> Fecha: </span> <span> {{ pase.createdAt | fecha }} </span> </p>
              <p style="display: flex; align-items: center;">
                <span> {{ pase.etapa_anterior }} </span>
                <span *ngIf="pase.tipo === 'Adelante'" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
                  <mat-icon> east </mat-icon> </span>
                <span *ngIf="pase.tipo === 'Atras'" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
                  <mat-icon> west </mat-icon> </span>
                <span> {{ pase.etapa_actual }} </span>
              </p>
              <p> <span style="font-weight: 500;"> Realizado por: </span> <span> {{ pase.creatorUser.apellido }} {{
                  pase.creatorUser.nombre }} </span> </p>
            </div>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </mat-card-content>



</mat-card>