
<h1 mat-dialog-title> Actualizando contraseña </h1>
<h4 class="subtitle"> 
  <mat-icon> person </mat-icon>
  <span style="margin-left: 5px;">
    {{ dataInput.usuario.apellido }} {{ dataInput.usuario.nombre }} 
  </span>
</h4>

<div class="modal-body" mat-dialog-content>

  <mat-form-field class="input-password">
    <mat-label> <span style="color: red"> * </span> Contraseña </mat-label>
    <input [(ngModel)]="dataOutput.password"
      (keyup.enter)="actualizarPassword()" matInput
      [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-password">
    <mat-label> <span style="color: red"> * </span> Repetir </mat-label>
    <input [(ngModel)]="dataOutput.repetir"
      (keyup.enter)="actualizarPassword()" matInput
      [type]="hideRepetir ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hideRepetir = !hideRepetir" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideRepetir">
      <mat-icon>{{hideRepetir ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="footer-modal" mat-dialog-actions>
  <button (click)="actualizarPassword()" mat-raised-button color="primary"> Actualizar </button>
  <button mat-raised-button color="warn" mat-dialog-close> Cerrar </button>
</div>